---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing/Hero.astro";
import Products from "../components/landing/Products.astro";
import Main from "@/components/Main.astro";
---

<Layout>
  <Main>
    <Hero />
    <Products />
  </Main>
</Layout>
