<footer>
  <div
    class="items-center text-center 2xl:max-w-7xl lg:px-16 md:px-12 mx-auto px-8 xl:px-36"
  >
    <div class="lg:text-center lg:mx-auto mt-18 mb-12">
      <nav class="flex flex-col md:flex-row gap-8 mt-11">
        <a
          href="tel:4076931372"
          class="flex gap-1 items-center text-negroni-500 delay-150 hover:text-tomato-500 text-sm transition-colors w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path
                stroke-dasharray="64"
                stroke-dashoffset="64"
                d="M8 3c0.5 0 2.5 4.5 2.5 5c0 1 -1.5 2 -2 3c-0.5 1 0.5 2 1.5 3c0.39 0.39 2 2 3 1.5c1 -0.5 2 -2 3 -2c0.5 0 5 2 5 2.5c0 2 -1.5 3.5 -3 4c-1.5 0.5 -2.5 0.5 -4.5 0c-2 -0.5 -3.5 -1 -6 -3.5c-2.5 -2.5 -3 -4 -3.5 -6c-0.5 -2 -0.5 -3 0 -4.5c0.5 -1.5 2 -3 4 -3Z"
                ><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  dur="0.6s"
                  values="64;0"></animate><animateTransform
                  id="lineMdPhoneCallLoop0"
                  fill="freeze"
                  attributeName="transform"
                  begin="0.6s;lineMdPhoneCallLoop0.begin+2.7s"
                  dur="0.5s"
                  type="rotate"
                  values="0 12 12;15 12 12;0 12 12;-12 12 12;0 12 12;12 12 12;0 12 12;-15 12 12;0 12 12"
                ></animateTransform></path
              ><path
                stroke-dasharray="4"
                stroke-dashoffset="4"
                d="M15.76 8.28c-0.5 -0.51 -1.1 -0.93 -1.76 -1.24M15.76 8.28c0.49 0.49 0.9 1.08 1.2 1.72"
                ><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdPhoneCallLoop0.begin+0s"
                  dur="2.7s"
                  keyTimes="0;0.111;0.259;0.37;1"
                  values="4;0;0;4;4"></animate></path
              ><path
                stroke-dasharray="6"
                stroke-dashoffset="6"
                d="M18.67 5.35c-1 -1 -2.26 -1.73 -3.67 -2.1M18.67 5.35c0.99 1 1.72 2.25 2.08 3.65"
                ><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdPhoneCallLoop0.begin+0.2s"
                  dur="2.7s"
                  keyTimes="0;0.074;0.185;0.333;0.444;1"
                  values="6;6;0;0;6;6"></animate></path
              ></g
            ></svg
          >
          <span>(407) 693-1372</span>
        </a>
        <a
          href="https://maps.app.goo.gl/KmfmV2AdHnRZ1uLU9"
          class="flex gap-1 items-center text-negroni-500 delay-150 hover:text-tomato-500 text-sm transition-colors w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            viewBox="0 0 24 24"
            ><circle cx="12" cy="9" r="2.5" fill="currentColor" fill-opacity="0"
              ><animate
                fill="freeze"
                attributeName="fill-opacity"
                begin="0.5s"
                dur="0.15s"
                values="0;1"></animate></circle
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 20.5C12 20.5 11 19 11 18C11 17.5 11.5 17 12 17C12.5 17 13 17.5 13 18C13 19 12 20.5 12 20.5z"
              ><animate
                fill="freeze"
                attributeName="d"
                dur="0.4s"
                keyTimes="0;0.7;1"
                values="M12 20.5C12 20.5 11 19 11 18C11 17.5 11.5 17 12 17C12.5 17 13 17.5 13 18C13 19 12 20.5 12 20.5z;M12 20.5C12 20.5 5 13 5 8C5 4.5 8 1 12 1C16 1 19 4.5 19 8C19 13 12 20.5 12 20.5z;M12 20.5C12 20.5 6 13.5 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9C18 13.5 12 20.5 12 20.5z"
              ></animate><animateTransform
                attributeName="transform"
                dur="3s"
                keyTimes="0;0.3;0.4;0.54;0.6;0.68;0.7;1"
                repeatCount="indefinite"
                type="rotate"
                values="0 12 20.5;0 12 20.5;-8 12 20.5;0 12 20.5;5 12 20.5;-2 12 20.5;0 12 20.5;0 12 20.5"
              ></animateTransform></path
            ></svg
          >
          <span> 2986 S Parker Ct, Aurora, CO 80014 </span>
        </a>
        <a
          href="https://www.instagram.com/losandespanificadora24?igsh=MXhmb21ndjltcWlqZg=="
          class="flex gap-1 items-center text-negroni-500 delay-150 hover:text-tomato-500 text-sm transition-colors w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-5 h-5"
            ><circle cx="17" cy="7" r="1.5" fill="currentColor" fill-opacity="0"
              ><animate
                fill="freeze"
                attributeName="fill-opacity"
                begin="1.3s"
                dur="0.15s"
                values="0;1"></animate></circle
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path
                stroke-dasharray="72"
                stroke-dashoffset="72"
                d="M16 3c2.76 0 5 2.24 5 5v8c0 2.76 -2.24 5 -5 5h-8c-2.76 0 -5 -2.24 -5 -5v-8c0 -2.76 2.24 -5 5 -5h4Z"
                ><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  dur="0.6s"
                  values="72;0"></animate></path
              ><path
                stroke-dasharray="28"
                stroke-dashoffset="28"
                d="M12 8c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4"
                ><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="0.7s"
                  dur="0.6s"
                  values="28;0"></animate></path
              ></g
            ></svg
          >
          <span> losandespanificadora24 </span>
        </a>
      </nav>
    </div>
    <div
      class="flex flex-col border-t border-negroni-500/10 lg:mx-auto lg:text-center md:pt-6 pb-12 pt-8"
    >
      <p class="text-tomato-500 md:mt-0 mt-6 text-sm">
        Panificador Los Andes: El sabor de la tradición, horneado a diario
      </p>
    </div>
  </div>
</footer>
